body{
    background:url('images/fond.jpg');
}
h1,h2,h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.prez>p{
    border: solid black 1px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    margin: auto;
}
.prez >p{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
#list,#foot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.liste{
    list-style: none;
    margin: 25px;
}
.text-center{
    width: 200px;
    height: 120px;
}

.progress{
    background-color: #d8d8d8;
    margin-top: 5px;
    border-radius: 20px;
    height: 25px;
   
}
.progress1{
    background-color: #d8d8d8;
    margin-top: 5px;
    border-radius: 20px;
    height: 25px;
    width: 300px;
   
}
.progress-done{
    background:linear-gradient(to left,#020024, #009dff, #5fcb0d);
    box-shadow: 0 3px -5px #009dff , 0 2px #5fcb0d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 200px;
    transition: 1s ease;

}
.progress>div{
    margin-left: 2px;
}
.progress-bar{
    background: green;
}
#foot{
    border: solid black 2px;
    width: 50%;
    margin: auto;
    border-radius: 20%;
}
 li:hover img.icon{
    transform: scale(1.5);
    transition: .5s;  
}
li img.icon{
    transform: scale(1);
    cursor: pointer;
    transition: 1.5s;
}
a{
    align-items: center;
    text-decoration:none;
    color: black;
}
.lien{
margin: auto;

}
a:hover{
    color: black; 
    
}
#container {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
  }
  .skill{
      display: flex;
      flex-direction: column;
  }
  .progress1,
  .progress2,
  .progress3,
  .progress4{
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
    width: 300px;
    margin-top: 10px;
}

.progress-done1,
.progress-done2,
.progress-done3,
.progress-done4{
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

